#header{
    height: 70px;
    width: 100vw;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header>.navLogoSearch{
    width: 40%;
    height: 60px;
    border: 1px solid blue;
}

#header > .navRight{
    width: 50%;
    height: 60px;
    border: 1px solid green;
}

#navMenu{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
    

}

#navMenu > a{
text-decoration: none;
color: black;
}

#navMenu>a:hover{
    color: blue;
}
